/* Icones */
i[class^=fas] {
   margin-right: 20px;
}

i[class^=fas]:hover {
   cursor: pointer;
}

/* Icone barre de recherche */
form i:first-child {
   margin-right: 00px;
}

.linkblanc {
   text-decoration: none;
   color: #ffffff;
}

/* Menu de navigation */
nav {
   font-family: 'Exo 2', sans-serif;
   /* font-family: 'PT Sans', sans-serif; */
}

/* Police */
.pol1 {
   font-family: 'Exo 2', sans-serif;
}

.pol2 {
   font-family: 'PT Sans', sans-serif;
}

p{font-family: 'PT Sans', sans-serif;}



/* Connexion avec modal */
input form {
   width: 20px;
}

button {
   background-color: #343a40;
   border: 0px solid #343a40;
}

button:focus {
   outline: none
}

label {
   margin-left: 20px;
   margin-top: 10px;
   font-family: 'Exo 2', sans-serif;
}

input {
   text-align: center;
   font-family: 'PT Sans', sans-serif;
}

input[type^="checkbox"] {
   margin-top: 16px;
   margin-left: 0px
}


/* Menu de gauche */
div[class^=bg] {
   font-size: 20px;
   height: 100vmax;
}

div[class^=alert] {
   margin: 10px;
   font-size: 15px;
   font-family: 'PT Sans', sans-serif;
}


/* Page */
.fondp {
   background-color: #d3dbe4;
}
/* Titre */
h1 {
   font-family: 'Exo 2', sans-serif;
   font-size: 50px;
   font-weight: 600;
   letter-spacing: 20px;
}

h2{
   letter-spacing:10px;
   word-spacing: 20px;
}
/* Elements card de la page */
.margin {
   margin: 30px;
}

.ombre {
   border-radius: 50px;
   box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
   margin: 60px;
}

/* Composition des cards */
.card {
   border: 0 solid white;
   border-radius: 20px;
   margin: 15px;
}


img {
   float: left;
   margin: 5px;
   width: 100px;
   height: 120px;
}

.pos: {
   position: absolute;
   left: 0;
   right: 0 bottom:0 top:90%;
}

.flex {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.haut {
   float: 1;
}

/* Boutton de téléchargement */
.file {
   display: none
}

/* Composition de la navigation dans la page */
.nav-tabs
{
   border-bottom: 1px solid #007bff;
}

/* Pour faire l'article */
section form{float: center;
   box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
   padding: 20px;
}

form label{font-family: 'PT Sans', sans-serif;}

label[for^=file]{margin: 0;}

.boutton{
   color: #fff;
   background-color: #007bff;
   border-color: #007bff;
}
.btn-outline-primary:click {
   outline: none
}



/* Bas de page */
footer {
   text-align: center;
   font-family: 'Exo 2', sans-serif;
}
footer span {margin:10px;}